#fenster { /* moving button with fenster id to 50 23 🖕*/
    top: 50%; /* adjust the top position of the button */
    left: 23%; /* adjust the left position of the button */
}

#buch { /* moving button with fenster id to 50 23 🖕*/
    top: 40%; /* adjust the top position of the button */
    left: 60%; /* adjust the left position of the button */
}


/*in this file only burrons*/