body {
    background-color: rgb(255, 255, 255);
    padding-left: 20px; /* Add left padding to the body */
    padding-right: 20px; /* Add right padding to the body */
}

.maintext {
    font-size: 18px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height for better readability */
    color: #333; /* Set text color */
    font-family: Arial, sans-serif; /* Choose a suitable font */
}
