[color-mode="light"] {
    /* Light mode Farben */
    --primary: #4C3B4D;
    --secondary: #C9EDDC;
    --accent: #ff6161;
    --bg: #ffffff;
    --text: #1a1a1a; /* Variable von --text auf --text-color geändert */
}


[color-mode="dark"] {
    /* Dark mode Farben */
    --primary: #4C3B4D;
    --secondary: #C9EDDC;
    --accent: #ff6161;
    --bg: #1a1a1a;
    --text: #ffffff;
}

header, footer, body, main {
    transition: background-color 0.4s;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Inhalte werden vertikal gestapelt */
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    color: var(--text);
    background-color: var(--bg);
    font-size: 16px;
    text-align: center;
    width: min(1200px, calc(100vw - 40px));
}

header {
    text-align: center;
}

footer {
    text-align: center;
    margin-block: 30px; 
}

.colorModeButton {
    position: fixed; /* Bleibt an einer festen Position auf der Seite */
    z-index: 1000; /* Immer oben auf allem sichtbar */
    border: 1px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    top: 20px;
    right: 20px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    fill: var(--text);
}

.colorModeButton svg line { /* CSS für das Icon im Dark Mode */
    stroke: var(--text);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.shadow {
    -webkit-box-shadow: 10px 10px 21px -13px #0000004d; /* Vielleicht Hex-Code ändern, wenn Alpha auch geht */
    -moz-box-shadow: 10px 10px 21px -13px #0000004d;
    box-shadow: 10px 10px 21px -13px #0000004d;
}

.image {
    width: min(1200px, calc(100vw - 20px));
    object-fit: cover;
    max-height: 600px;
    border-radius: 20px;
}

.story {
    margin-block: 20px;
    line-height: 1.4;
}

.button-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width: 700px) { /*custom für handydisplays*/
    .button-table {
        grid-template-columns: 1fr;
    }
}

.button-table a {
    height: 100px;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    color: white;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 20px;
    border: none;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-table a:hover {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition-duration: 0.1s;
    transform: scale(1.2) rotate(2deg);
}
  
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    border-top-right-radius: 15px;
    font-size: 25px;
    background: var(--bg); 
    border: 1px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
}

.image-container p {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 10px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    text-decoration: underline;
    color: var(--text);
}

table {
    border-collapse: collapse; /* Stellt sicher, dass die Ränder nicht doppelt sind */
}

table td {
    vertical-align: top; /* Richtet den Text am oberen Rand der Zelle aus */
    text-align: left;    /* Richtet den Text an der linken Seite der Zelle aus */
    border: 1px solid var(--text); /* Fügt einen 1px dicken, schwarzen Rahmen um die Tabelle, den Header und die Zellen hinzu */
    padding: 15px; /* Optional: Fügt etwas Innenabstand in den Zellen hinzu, um die Lesbarkeit zu verbessern */
}

/* Alle Button-IDs mit Hintergrund */
#palast {
    background-image: url('assets/palast.png'); 
}

#schenke {
    background-image: url('assets/schenke.png'); 
}

#lumaria {
    background-image: url('assets/lumaria.png'); 
}

#aeltester {
    background-image: url('assets/aeltester.png'); 
}

#wirt {
    background-image: url('assets/wirt.png'); 
}

#wache {
    background-image: url('assets/wache.png'); 
}

#ruine {
    background-image: url('assets/ruine.png'); 
}

#bier {
    background-image: url('assets/bier.png'); 
}

#artefakt {
    background-image: url('assets/artefakt.png'); 
}

#wache {
    background-image: url('assets/wache.png'); 
}

#fremder-frage {
    background-image: url('assets/fremder-frage.png'); 
}

#kampf {
    background-image: url('assets/kampf.png'); 
}

#seite {
    background-image: url('assets/seite.png'); 
}

#fremder-frage2 {
    background-image: url('assets/fremder-frage2.png'); 
}
